 /* index */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.hero
{
    height: 100vh;
}
 /* projects */
.menu {
    height: 10vh;
    background-color: black;

}
.container {
    display: flex;
    gap: 20px;
   
}
.card {
    width:200px;
    height:200px;
    background-color: steelblue;
}
.card:hover {
    transform: scale(1.05);

}
