 
 /* index */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #222;
}
.logo {
    color:white;
    font-size: 1.7rem;
    font-weight: 600;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.nav-links a:hover {
  color: #ffcc00;            
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    background-image: url('images/hero-bg.jpg');
    background-size: cover;      
    background-position: center;  
    color: white;
    text-align: center;
}
.hero .btn {
    margin-top: 1.5rem;
  padding: 0.8rem 2rem;
  background-color: #ffcc00;
  color: #333;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.content {
  display: flex;
  gap: 20px;
  padding: 40px;
}
.card {
  flex: 1;
  height: 250px;
  background: lightgray;
  border-radius: 10px;
  min-height: 250px;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 10px;
}
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    gap:30px;
  }
  .card {
    width: 100%;
    height: 250px;
    flex: none;
    min-height: 200px;
  }
}